// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    
}

// Mobile devices (mobile phones, 576px and up)
@media (min-width: 350px) {
    
}



// Elementor Sticky & Blur header ---/ Start

selector.elementor-sticky--effects{ 
   background-color: rgba(0,0,0,0.4)!important; 
   backdrop-filter: saturate(180%) blur(20px);
   -webkit-backdrop-filter: saturate(180%) blur(20px);
}
selector{ 
   transition: background-color 1s ease !important;
}
selector.elementor-sticky--effects >.elementor-container{
   min-height: 70px;
}
selector > .elementor-container{
   transition: min-height 1s ease !important;
}

// Elementor Sticky & Blur header ---/ End
